body{
  background-image: url(../../dummy_images/dummy_01.jpg);
  background-size: cover;
  background-position: center center;

  width: 100vw;
  min-height: 100vh;
}

.pics{
  position: absolute;
}

.pic{
  position: absolute;
  opacity: 0;
}

.pic.show{
  display: block;
  opacity: 1;
}

#pics01{
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}

#pics02{
  top: 300px;
  left: 400px;
  width: 200px;
  height: 200px;
}

.pics img{
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
}